div.stColumn.st-emotion-cache-1th1j40.eiemyj2{
    text-align: center;
}
.stRadio [role=radiogroup]{
    align-items: center;
    justify-content: center;
}
.stButton{
    text-align: justify;
}
div.st-emotion-cache-1cvow4s.e121c1cl0{
    text-align: center;
}